$litetokensBlue: rgba(21,171,195,1.0);

.theme-litetokens {
  background-size: cover;
  background: #000 url(../images/body_backgound_litetokensblue_transparent.png) fixed no-repeat;
  background-position: center -200px;
  color: rgba(21,171,195, 1.0);
  font-family: "Bitstream Vera Sans Mono", monospace;
  text-shadow: 0 0 5px rgba(21,171,195,0.7);


  .page-live {
    .media {
      color: $litetokensBlue !important;
    }

    .text-muted {
      color: $litetokensBlue !important;
    }
  }

  .modal-content {
    background: #000;
  }

  input {
    color: $litetokensBlue !important;
  }

  .home-splash {
    h2 {
      color: $litetokensBlue !important;
      text-shadow: 0 0 5px rgba(21,171,195,0.7);

    }
  }

  .sweet-alert {
    background-color: #000 !important;
    border: 2px solid $litetokensBlue;
  }

  .dropdown-menu b span {
    color: $litetokensBlue;
  }

  .nav-searchbar {
    .btn {
      background: #000;
      color: $litetokensBlue;
      border: 1px solid $litetokensBlue;
      z-index: 100;
    }

    input {
      color: $litetokensBlue;
    }
  }

  a {
    color: $litetokensBlue !important;
  }

  a:hover {
    color: #fff !important;
    text-decoration: none;
    transition: color 0.1s ease-in;
  }

  .header-top {
    background: radial-gradient(at 50% -10%, #343a4070, #15abc387) fixed;
  }

  .sub-header {
    h4 {
      color: $litetokensBlue;
    }
  }

  .card {
    box-shadow: 0 0 9px $litetokensBlue;
    border: 1px solid $litetokensBlue;
    background: black;
  }

  .border-bottom, .border {
    border-color: $litetokensBlue !important;
  }

  .bg-white {
    background: #000 !important;
  }

  .ant-table{
    color: #15abc3;
    font-family: "Bitstream Vera Sans Mono", monospace;
    text-shadow: 0 0 5px rgba(21, 171, 195, 0.7);
  }

  .ant-table-thead>tr>th {
    background-color: #15abc3;
  }

  .page-link {
    background: black;
    color: $litetokensBlue !important;
    text-shadow: 0 0 5px rgba(21,171,195,0.7);
    border: 1px solid $litetokensBlue;
  }

  .dropdown-menu {
    border: 1px solid $litetokensBlue;
    box-shadow: 0 0 9px $litetokensBlue;
    background: black;

    .dropdown-item:hover, .dropdown-item:hover span {
      background: $litetokensBlue;
      color: black !important;
    }
    span {
      color: $litetokensBlue;
    }
    .btn span{
      color: #fff;
    }
  }

  table {
    .thead-dark, .thead-light {
      th {
        background: $litetokensBlue;
        color: black !important;
        border-color: $litetokensBlue;
      }
    }

    td, th {
      border-color: $litetokensBlue !important;
    }
    border-color: $litetokensBlue;
  }

  .nav-tabs .nav-link {
    background: #000;
    border-color: $litetokensBlue;

    &.active {
      background: $litetokensBlue;
      color: black !important;
    }
  }

  .list-group-item {
    background: #000;
  }


  .token-cards {
    background-color:black;
    border: 1px solid $litetokensBlue;
    color: $litetokensBlue;

    .token-info {
      background-color: black;
    }
  }

  .token-cards:hover {
    background-color: #D2D1D1 !important;
    border: 1px solid $litetokensBlue;
    color: #333 !important;
    .token-info {
      background-color: black;
      color: $litetokensBlue;
    }
  }

}
